**/.idea
**/~$*
**/*.txt

# 例外: 授权/许可类 txt 必须能提交
# 本项目是 AGPL v3 的修改版, 且内附 SIL OFL 1.1 字体,
# 两者的授权文件都需要随代码一并分发, 不能被上面的规则忽略
!**/LICENSE*.txt
!**/*LICENSE*.txt
!**/*OFL*.txt
!**/*COPYING*.txt

# Godot 版本升级时自动生成的整份项目备份(体积很大), 不纳入版本管理
枪火地牢-*/
*-([0-9].[0-9])/
